<html ng-app="dropbox" ng-controller="fileInfo as f">
<head>
	<title>test - using</title>
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
	<script src="/test/js/test.js"></script>
</head>
<body>
	
	<h2>post</h2>
	<div ng-controller="formPost">
		<form onsubmit="return false;" ng-submit="post();">
			<input type="text" ng-model="postTarget">
			<textarea ng-model="postData"></textarea>
			<input type="submit">
		</form>
		<div class="output" ng-model="resBody">
		</div>
	</div>
	
	<h2>Auth</h2>
	<select ng-model="using">
		<option value="dropbox">Dropbox</option>
		<option value="onedrive">One Drive</option>
		<option value="googledrive">Google Drive</option>
	</select>
	<a href="#" ng-click="getAuthUrl();">get auth link {{using}}</a><br>
	<a ng-show="redirectUrl" href="{{redirectUrl}}" target="_blank">go to auth</a>
	<h2>Auto Login</h2>
	<a href="#" ng-click="autologin();">click here to login</a>
	<h2>Browse files</h2>
	<div>
	Search your folder
		<form onsubmit="return false;" ng-submit="fileIndex();">
			<input ng-model="i" type="text" />
			<input type="submit" value="submit" />
		</form>
		<div> {{ status }} </div>
		<ul>
			<li>
				go to 
				<a href="javascript:void(0);" ng-click="toRoot();">
					{{using == 'dropbox' ? '/' : using == 'onedrive' ? 'me/skydrive' : 'root'}}
				</a>
			</li>
			<li ng-repeat="item in data">
				<a ng-show="item.is_folder" href="javascript:void(0);" ng-click="toFolder(item.identifier);"> {{ item.name }} </a>
				<a ng-show="item.is_file">{{ item.name }}</a>
				<a href="javascript:void(0);" ng-show="item.is_file" ng-click="download(item.identifier);"> download (ajax)</a>
				<a href="/api/download/{{using}}/?i={{item.identifier}}"> download</a>
			</li>
			
		</ul>
	</div>
</body>

</html>