@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300);

html,body{
    background: #f7f7f7;
}
.main-content{
    width: 90%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

}
.main-content>.frame{
    margin: 20px auto;
    padding:10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #888888;
    background: #fff;
    min-height: 600px
}
.main-content>.frame.center{
    text-align: center;
}

.main {
    -webkit-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.dragFileImage{
    position:absolute;
    z-index:-1000;
    background:#cdf;
    padding:10px 20px;
    box-shadow: 0 0 5px #000;
}

@media screen and (max-width: 63em) {
    .main {
        padding: 0 2em;
        -webkit-transition: opacity 0.6s;
        transition: opacity 0.6s;
    }
}