html,body{
	background: #EFF;
}

.content{
	padding:.5em;
}

md-whiteframe{
	background: #fff;
	/*background: #EFF;*/
	margin:.5em;
}

input,textarea{
	max-width: 100%;
}

.md-button{
	margin-top: .2em;
}