<div class="ui grid">
	<div class="left floated right four wide column">
		<div class="ui vertical accordion menu" style="margin-top:60px;">
			<div class="item">
				<a class="active title">
					<i class="dropdown icon"></i>
					File Types
				</a>
				<div class="active content">
					<div class="ui form">
						<div class="grouped fields">
							<div class="field">
								<div class="ui checkbox" ng-click="selectFilter('audio')">
									<input type="checkbox" ng-model="filterTargets.audio">
									<label>Audio</label>
								</div>
							</div>
							<div class="field">
								<div class="ui checkbox" ng-click="selectFilter('video')">
									<input type="checkbox" name="small" ng-model="filterTargets.video">
									<label>Video</label>
								</div>
							</div>
							<div class="field">
								<div class="ui checkbox" ng-click="selectFilter('image')">
									<input type="checkbox" name="small" ng-model="filterTargets.image">
									<label>Images</label>
								</div>
							</div>
							<div class="field">
								<div class="ui checkbox" ng-click="selectFilter('document')">
									<input type="checkbox" name="small" ng-model="filterTargets.document">
									<label>Documents</label>
								</div>
							</div>
							<div class="field">
								<div class="ui checkbox" ng-click="selectFilter('archive')">
									<input type="checkbox" name="small" ng-model="filterTargets.archive">
									<label>Archive</label>
								</div>
							</div>
							<div class="field">
								<div class="ui checkbox" ng-click="selectFilter('other')">
									<input type="checkbox" name="small" ng-model="filterTargets.other">
									<label>Other</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<a class="title">
					<i class="dropdown icon"></i>
					Visibility
				</a>
				<div class="content">
					<div class="ui form">
						<div class="grouped fields">
							<div class="field">
								<div class="ui checkbox" ng-click="selectFilter('owner')">
									<input type="checkbox" ng-model="filterTargets.owner" name="small">
									<label>Owner</label>
								</div>
							</div>
							<div class="field">
								<div class="ui checkbox" ng-click="selectFilter('folder')">
									<input type="checkbox" ng-model="filterTargets.folder" name="medium">
									<label>Folders only</label>
								</div>
							</div>
							<div class="field">
								<div class="ui checkbox" ng-click="selectFilter('files')">
									<input type="checkbox" ng-model="filterTargets.files" name="large">
									<label>Files only</label>
								</div>
							</div>
							<div class="field">
								<div class="ui checkbox" ng-click="selectFilter('shared')">
									<input type="checkbox" ng-model="filterTargets.shared" name="x-large">
									<label>Shared only</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="ui labeled icon top right pointing dropdown button">
					<i class="filter icon"></i>
					<span class="text">Advanced Filter</span>
					<div class="menu">
						<div class="header">
							<i class="marker icon"></i>
							Filter by location
						</div>
						<div class="ui icon input">
							<i class="search icon"></i>
							<input type="text" name="search" placeholder="Search location">
						</div>
						<div class="divider"></div>
						<div class="header">
							<i class="tags icon"></i>
							Filter by tag
						</div>
						<div class="item">
							<div class="ui red empty circular label"></div>
							Important
						</div>
						<div class="item">
							<div class="ui blue empty circular label"></div>
							Project
						</div>
						<div class="item">
							<div class="ui black empty circular label"></div>
							Work
						</div>
						<div class="divider"></div>
						<div class="header">
							<i class="calendar icon"></i>
							Filter by date
						</div>
						<div class="item">
							<i class="circle icon"></i>
							This Week
						</div>
						<div class="item">
							<i class="circle icon"></i>
							This Month
						</div>
						<div class="item">
							<i class="circle icon"></i>
							This Year
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- upload task -->
		<div ng-controller="uploadCtrl">
<!-- <div id="bgdiv"></div>
<div id="upload_grid">
</div>
<div id="ani"></div> -->
<input type="button" value="Start upload" ng-click="startUpload();">
<input id="ajaxfile" type="file" mualtiple style="visibility:hidden;"><br>
<task val="task"></task>
</div>
<style>
	body{
		margin:0;
		padding:0;
	}
	#upload_grid,#bgdiv{
		height:100%;
		width:100%;
		margin:0;
		position:absolute;
		z-index: -1;
	}
	#upload_grid.onupload{
		z-index: 1;
	}
	#ani{
		border-radius: 100px;
		border:100px rgba(255,0,0,0.8) solid;
		height:0;
		width:0;
		position:fixed;
		top:50%;
		left:50%;
		margin-top: -100px;
		margin-left: -100px;
		display:none;
	}
	#ani.play{
		display:block;
		-webkit-animation: uploadAnimation 1s; /* Chrome, Safari, Opera */
		animation: uploadAnimation 1s;
	}
	@-webkit-keyframes uploadAnimation {
		from {
			border: 5px rgba(255,0,0,0) solid;
			margin-top:0px;
			margin-left:0px;
		}
		to {
			border: 100px rgba(255,0,0,0.8) solid;
			margin-top: -100px;
			margin-left: -100px;
		}
	}
</style>
<!-- end upload task -->
</div>



<div class="floated center eleven wide column">
	<div>
		<div class="ui search" style="float:left;">
			<div class="ui icon input">
				<input type="text" class="prompt" ng-model="searchText" ng-change="search()" placeholder="Quick Search" style="width:250px;">
				<i class="search icon"></i>
			</div>
		</div>
		<div style="float:right;width:300px">
			<!-- download task -->

			<!-- download task end -->
		</div>
		<div class="ui icon top left pointing dropdown basic button" style="float: right;">
			<i class="fa fa-ellipsis-v icon"></i>
			<div class="menu">
				<div class="header">Sorting display</div>
				<div class="item">By alphabetical</div>
				<div class="item">By file size</div>
				<div class="item">By date</div>
				<div class="item">Reverse order</div>
				<div class="ui divider"></div>
				<div class="header">Action</div>
				<div class="item">Copy</div>
				<div class="item">Move to...</div>
				<div class="item">Create new folder</div>
				<div class="item">Tag this item</div>
				<div class="ui divider"></div>
				<div class="header">More</div>
				<div class="item">View details</div>
				<div class="item">Download item</div>
				<div class="item">Help</div>
			</div>
		</div>
		<div class="ui icon inverted buttons" style="float:right;">
			<div ng-click="selectViewOption('list')" class="ui basic button {{viewOption==='list'?'view-option-active':''}}">
				<i class="fa fa-list icon"></i>
			</div>
			<div ng-click="selectViewOption('my-grid')" class="ui basic button {{viewOption==='my-grid'?'view-option-active':''}}">
				<i class="fa fa-th icon"></i>
			</div>
		</div>
		<div class="ui animated button" style="float: right;">
			<div class="visible content"><i class="fa fa-eye icon"></i>Browse Mode</div>
			<div class="hidden content"><i class="fa fa-check-square-o icon"></i>Selection Mode</div>
		</div>
		<div class="ui teal buttons" style="float:right;">
			<div class="ui floating dropdown icon button">
				<i class="dropdown icon"></i>
				<div class="menu">
					<div class="item" id="fileSelect">
						<i class="fa fa-file icon"></i> Select Files
					</div>
					<div class="item" id="folderSelect">
						<i class="fa fa-folder-open icon"></i> Select Folder
					</div>
					<div class="divider"></div>
					<div class="item" id="folderCreate">
						<i class="fa fa-folder icon"></i> Create new folder
					</div>
					<div class="item">
						<i class="fa fa-cloud-upload icon"></i> Advanced Uploader
					</div>
				</div>
			</div>
			<div class="ui animated button" id="psudoUpload">
				<div class="visible content">
					<i class="fa fa-plus-circle icon"></i>
					Add Files
				</div>
				<div class="hidden content">
					<i class="fa fa-folder-open-o icon"></i>
					Browse
				</div>
			</div>
		</div>
		<div ng-include="'views/detailsview.html'" ng-controller="DetailsView"></div>
		<div style="clear: both;"></div>
	</div>



	<div class="menu" style="margin-top:5px;">
		<div id="driveTabs" class="ui pointing secondary menu">
			<a class="active item" data-tab="all">All</a>
			<a ng-repeat="drive in drives" class="item" data-tab="{{drive.id}}">{{getDriveName(drive.type)}}</a>
		</div>

		<div class="ui active tab" data-tab="all">
			<div ng-controller="CombinedView" ng-include="'views/browseview.html'"></div>
		</div>


		<div class="ui tab" ng-repeat="drive in drives" data-tab="{{drive.id}}">
			<div ng-controller="SingleDriveCtrl" ng-init="init(drive)" id="{{drive.id}}" ng-include="'views/browseview.html'"></div>
		</div>

	</div>
</div>
</div>

<style>
	.view-option-active{
		box-shadow: 0 0 0 1px transparent inset,0 1px 4px 0 rgba(39,41,43,.15)inset!important;
	}
</style>
<script>

	$('.ui.vertical.accordion.menu')
	.accordion();

	$('.ui.checkbox')
	.checkbox();

	$('.ui.labeled.icon.top.right.pointing.dropdown.button')
	.dropdown();

	$('.dropdown')
  .dropdown({
    // you can use any ui transition
    transition: 'drop'
  })
;

</script>
