<style>
	#browse {
		width: 800px;
		height: 600px;
	}
	md-tabs, md-tab {
		border: none;
	}

</style>
<div class="frame center">
	<div id="browse">
		<md-whiteframe class="md-whiteframe-z1">
			<md-content>
				<md-tabs md-selected="selectedIndex">
					<md-tab ng-repeat="tab in tabs" md-on-select="currentContainer(tab)" label="{{tab.type}}">
						<div>
							<div ng-controller="containers as c" class="ui divided list">
								<input type="hidden" value="{{'';driveID = tab.id;driveType = tab.type}}" />
								<div ng-repeat="files in container | orderBy:'name'" class="item">
									<div class="right floated compact ui labeled icon button" style="margin-right:5px;">
										<i class="fa fa-cloud-download icon"></i>
										Download
									</div>
									<div class="content" ng-click="files.is_folder && getFileIndex(files.identifier)">
										<i class="{{getClass(files)}}"></i>
										<div class="header" style="display:inline;cursor: pointer;">{{files.name}}</div>
										<span ng-show="files.is_file">
										{{
											files.file_size/(1024*1024)
										}} MB
										</span>
									</div>
								</div>
							</div>
						</div>
					</md-tab>
				</md-tabs>
			</md-content>
		</md-whiteframe>
	</div>
</div>