<!--<div class="ui unstackable table browse-view">-->
  <!--<thead>-->
    <!--<tr>-->
      <!--<th class="left aligned">Name</th>-->
      <!--<th class="right aligned">Type</th>-->
      <!--<th class="right aligned">Action</th>-->
    <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
    <!--&lt;!&ndash; go to parent &ndash;&gt;-->
    <!--<tr ng-controller="File" ng-init="init(null,drive,false,true);" ng-hide="(!currentPath || currentPath == drive.cache.cachedIndex.rootIndex)" class="item">-->
      <!--<td colspan="2">-->
        <!--<div class="content" ng-click="getFileIndex(parentIndex)">-->
          <!--<i class="fa fa-folder icon"></i>-->
          <!--<div style="display:inline;cursor: pointer;">../</div>-->
        <!--</div>-->
      <!--</td>-->
      <!--<td class="right aligned">-->
        <!--<a style="opacity:0;z-index:-1;">-->
          <!--<div class="ui labeled icon button">-->
            <!--<i class="info circle icon"></i>-->
            <!--View details-->
          <!--</div>-->
        <!--</a>-->
      <!--</td>-->
    <!--</tr>-->

    <!--&lt;!&ndash; files &ndash;&gt;-->
    <!--<tr ng-hide="file._raw.labels.trashed" ng-repeat="file in files | orderBy:['is_file','name']" ng-controller="File" ng-init="init(file,drive,true,true);" class="item">-->
      <!--<td>-->
        <!--<div class="content" ng-click="file.is_folder && clickOnFolder(file)">-->
          <!--<i class="{{getClass(file)}}"></i>-->
          <!--<div style="display:inline;cursor: pointer;">{{getFileTitle(file)}}</div>-->
        <!--</div>-->
      <!--</td>-->
      <!--<td ng-show="file.is_folder" class="right aligned">-->
        <!--<b>Folder</b>-->
      <!--</td>-->
      <!--<td ng-hide="file.is_folder" class="right aligned">-->
        <!--<b>{{getFileTypeName(file).toUpperCase();}}</b>-->
      <!--</td>-->
      <!--<td class="right aligned">-->
        <!--<a href="{{getDownloadLink(file)}}">-->
          <!--<div class="ui labeled icon button">-->
            <!--<i class="info circle icon"></i>-->
            <!--View details-->
          <!--</div>-->
        <!--</a>-->
      <!--</td>-->
    <!--</tr>-->
  <!--</tbody>-->
<!--</div>-->

<div class="browse-view container">
  <div style="clear:both;margin:10px"></div>
  <div class="file {{viewOption}}" ng-controller="File"  ng-init="init(null,drive,false,true);"
       ng-hide="(!currentPath || currentPath == drive.cache.cachedIndex.rootIndex)" ng-click="getFileIndex(parentIndex)">
    <div class="field">Go Upper</div>
  </div>
  <div ng-repeat="file in files | orderBy: ['is_file','name']" ng-hide="file._raw.labels.trashed" ng-controller="File"
       ng-init="init(file,drive,true,true);" class="file {{viewOption}} {{viewOption==='list'?'ui grid':''}}" ng-click="file.is_folder && clickOnFolder(file)">
    <!--begin-->
    <div class="file-name {{viewOption==='list'?'six wide column':''}}">{{getFileTitle(file)}}</div>
    <div class="file-format formatShape" ng-hide="file.is_folder || viewOption==='list'" >{{getFileTypeName(file)}}</div>
    <div class="file-icons-group {{viewOption==='list'?'three wide column':''}}">
      <i class="file-shared fa fa-users"></i>
      <i class="file-drive fa fa-dropbox"></i>
      <i class="file-private fa fa-eye-slash"></i>
    </div>
    <div class="file-size {{viewOption==='list'?'three wide column':''}}">{{getFileSizeString(file.file_size)}}</div>
    <!--<div class="file-path {{viewOption==='list'?'four wide column':''}}">{{fileGetFullPath(file)}}</div>-->
    <!--end-->
  </div>
  <div class="clear"></div>
</div>


<style>

  .browse-view.container {
    padding: 10px 0 0 10px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 500px;
  }
  .browse-view.container > .file.list {
    margin: 0 0 5px 0;
  }
  .browse-view.container > .file.list > div {
    /*display: inline-block;*/
    /*margin-right: 20px;*/
  }
  .browse-view.container > .file.my-grid {
    height: 110px;
    width: 245px;
    margin: 0 10px 10px 0;
    float: left;
  }
  .browse-view.container > .file.my-grid .file-name{

  }
  .browse-view.container > .file.my-grid .file-format.formatShape{
    position:relative;
    float:right;
  }
  .browse-view.container > .file.my-grid .file-icons-group{
    position:relative;
    color:#666;
  }
  .browse-view.container > .file.my-grid .file-icons-group .file-shared{
    position:relative;
    font-size:12px;
    color: #6fbc6d;
  }
  .browse-view.container > .file.my-grid .file-icons-group .file-drive{
    position:relative;
    font-size:14px;
    color:#007ee5;
  }
  .browse-view.container > .file.my-grid .file-icons-group .file-private{
    position:relative;
    font-size:13px;
    color: #d6006e;
  }
  .browse-view.container > .file .file-format.formatShape{
    color:#eee;
  }
  .browse-view.container > .file {
    border-radius: 3px;
    cursor: pointer;
    /* styles */
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background: #f4f4f4;
    padding: 5px;
    border: 1px #f5f5f5 solid;
    -webkit-transition: -webkit-transform ease .2s, box-shadow ease .2s;
    -webkit-transform: scale(0.98, 0.98);
  }
  .browse-view.container > .file:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0 12px 12px 0;
    -webkit-transform: scale(1, 1);
    border: 1px #fff solid;
    background: #f4f4f4;
    color: #000;
  }
  .browse-view.container > .file:active {
    background: #f4f4f4;
  }
  .browse-view.container .clear {
    clear: both;
  }
  .browse-view.container .file-name{
    text-overflow : ellipsis;
  }
  .browse-view.container .file-path {
    position: relative;
  }
  .browse-view.container .file-size {
    position: relative;
  }
  .browse-view.container .formatShape {
    position: relative;
    display: block;
    width: 60px;
    height: 77px;
    border-radius: 5px;
    background: #6585ed;
    color: #888;
    font: bold 20px/105px Verdana;
    text-align: center;
    text-transform: uppercase;
  }
  .browse-view.container .formatShape:before {
    content: " ";
    position: absolute;
    top: 1px;
    right: 1px;
    display: block;
    width: 20px;
    height: 20px;
    border-bottom-left-radius: 5px;
    background: #3252ba;
  }
  .browse-view.container .formatShape:after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 20px 0;
    border-color: transparent #f4f4f4 transparent transparent;
  }
</style>
