
<div class="container">
	<h2 class="ui header">
	  <i class="dashboard icon"></i>
	  <div class="content">
	    Dashboard
	    <div class="sub header">User account resources and statistics at a glance</div>
	  </div>
	</h2>
	<div class="ui grid">
		<div class="ten wide column">
			<div class="ui segment">
				<h3>
					<span>
					<i class="fa fa-area-chart icon"></i>
						<div class="content" style="display:inline;">
							Usage-Traffic Relation Graph
						</div>
					</span>
				</h3>
				<canvas id="myLineChart" width="700" height="285"></canvas>	
			</div>
		</div>
		<div class="six wide column">
			<div class="ui segment">
				<div class="ui list">
					<div class="item">
						<span>
							<i class="fa fa-user icon"></i>
							User ID : 
						</span>
						<div class="ui label">{{user.name}}</div>
					</div>
					<div class="item">
						<span>
							<i class="fa fa-tag icon"></i>
							Account Type: 
						</span>
						<div class="ui label">{{user.serviceType? user.serviceType : Standard}}</div>
					</div>
					<div class="item">
						<span>
							<i class="fa fa-envelope-o icon"></i>
							Email:
						</span>
						<div class="ui label">{{user.email}}</div>
					</div>
					<div class="item">
						<canvas id="accumulativeUsageChart" width="220" height="220"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
	<h2 class="ui header">
	  <i class="fa fa-cloud icon"></i>
	  <div class="content">
	    Individual Storage Usage
	    <div class="sub header">A view of each of cloud storage services statistic</div>
	  </div>
	</h2>
	<div class="ui three column grid">
		<div class="column" ng-repeat="drive in storage">
			<div class="ui segment">
				<div class="flex-column">
					<div class="flex-1">
						<h3 class="ui header">
							<img ng-src="/images/{{drive.info.type}}.png">
							<div class="content">
								{{drive.name}}
							</div>
						</h3>
						<div class="ui list">
							<div class="item">
								Capacity: <b>{{drive.info.total}}</b>
							</div>
							<div class="item">
								Used: <b>{{drive.info.used[0]}} ({{drive.info.used[1]}}%)</b>
							</div>
							<div class="item">
								Available: <b>{{drive.info.free[0]}} ({{drive.info.free[1]}}%)</b>
							</div>
						</div>
					</div>
					<div class="flex-1">
						<canvas id="{{drive.info.type+'Chart'}}" width="120" height="120"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
	<h2 class="ui header">
	  <i class="fa fa-tasks icon"></i>
	  <div class="content">
	    Details Files Transmission
	    <div class="sub header">List view of files transfer with respect to user action</div>
	  </div>
	</h2>
	<table class="ui celled table">
		<thead>
			<th>Transaction ID</th>
			<th>Origin</th>
			<th>Destination</th>
			<th>Bandwidth/Time Used</th>
			<th>Recipient</th>
			<th>Status</th>
		</thead>
		<tbody>
			<tr>
				<td>a04b78d4581</td>
				<td>Google Drive</td>
				<td>Polytrix</td>
				<td>20MB/s</td>
				<td>N/A</td>
				<td class="positive"><i class="icon checkmark"></i> Completed</td>
			</tr>
			<tr>
				<td>a04b78d4581</td>
				<td>Dropbox</td>
				<td>Brains's Mi2</td>
				<td>8MB/s</td>
				<td>N/A</td>
				<td class="positive"><i class="icon checkmark"></i> Completed</td>
			</tr>
			<tr>
				<td>a04b78d4581</td>
				<td>Dropbox</td>
				<td>202.2.255.107</td>
				<td>167KB/s</td>
				<td>kris@sandb0x.io</td>
				<td class="negative"><i class="icon close"></i> Incomplete</td>
			</tr>
			<tr>
				<td>a04b78d4581</td>
				<td>OneDrive</td>
				<td>Dropbox</td>
				<td>3MB/s</td>
				<td>N/A</td>
				<td class="positive"><i class="icon checkmark"></i> Completed</td>
			</tr>
			<tr>
				<td>a04b78d4581</td>
				<td>Polytrix</td>
				<td>Google Drive</td>
				<td>6MB/s</td>
				<td>N/A</td>
				<td class="positive"><i class="icon checkmark"></i> Completed</td>
			</tr>
			<tr>
				<td>a04b78d4581</td>
				<td>Brians-PC</td>
				<td>Google Drive</td>
				<td>1,014KB/s</td>
				<td>N/A</td>
				<td class="positive"><i class="icon checkmark"></i> Completed</td>
			</tr>
			<tr>
				<td>a04b78d4581</td>
				<td>PC-W24557</td>
				<td>Polytrix</td>
				<td>584KB/s</td>
				<td>N/A</td>
				<td class="positive"><i class="icon checkmark"></i> Completed</td>
			</tr>
		</tbody>
	</table>
</div>
<script>
	var scope = angular.element().scope();
	/*for(var i = 0; i < scope.storage.length; i++){
		var ctx = $('#'+scope.storage[i].info.type+'Chart').get(0).getContext("2d");
		var graph = new Chart(ctx).Doughnut(scope.storage[i].usage);
	}*/
	//console.log(scope.storage);
</script>