<div class="container">
	<h2 class="ui header">
	  <i class="dashboard icon"></i>
	  <div class="content">
	    Dashboard
	    <div class="sub header">User account resources and statistics at a glance</div>
	  </div>
	</h2>
	<div class="ui grid">
		<div class="ten wide column">
			<div class="ui segment">
				<h3>
					<span>
					<i class="fa fa-area-chart icon"></i>
						<div class="content" style="display:inline;">
							Usage-Traffic Relation Graph
						</div>
					</span>
				</h3>
				<canvas id="myLineChart" width="650" height="285"></canvas>	
			</div>
		</div>
		<div class="six wide column">
			<div class="ui segment">
				<div class="ui list">
					<div class="item">
						<span>
							<i class="fa fa-user icon"></i>
							User ID : 
						</span>
						<div class="ui label">brianso9</div>
					</div>
					<div class="item">
						<span>
							<i class="fa fa-tag icon"></i>
							Account Type: 
						</span>
						<div class="ui label">Premium</div>
					</div>
					<div class="item">
						<span>
							<i class="fa fa-envelope-o icon"></i>
							Email:
						</span>
						<div class="ui label">briansostudio@gmail.com</div>
					</div>
					<div class="item">
						<canvas id="myDoughnutChart" width="220" height="220"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
	<h2 class="ui header">
	  <i class="fa fa-cloud icon"></i>
	  <div class="content">
	    Individual Storage Usage
	    <div class="sub header">A view of each of cloud storage services statistic</div>
	  </div>
	</h2>
	<div class="ui three column grid">
		<div class="column">
			<div class="ui segment">
				<div class="flex-column">
					<div class="flex-1">
						<h3 class="ui header">
							<img src="/images/dropbox.png">
							<div class="content">
								Dropbox
							</div>
						</h3>
						<div class="ui list">
							<div class="item">
								Capacity: <b>42 GB</b>
							</div>
							<div class="item">
								Used: <b>28GB (64%)</b>
							</div>
							<div class="item">
								Available: <b>14GB (36%)</b>
							</div>
						</div>
					</div>
					<div class="flex-1">
						<canvas id="dropboxChart" width="120" height="120"></canvas>
					</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="ui segment">
				<div class="flex-column">
					<div class="flex-1">
						<h3 class="ui header">
							<img src="/images/googledrive.png">
							<div class="content">Google Drive</div>
						</h3>
						<div class="ui list">
							<div class="item">
								Capacity: <b>42 GB</b>
							</div>
							<div class="item">
								Used: <b>28GB (64%)</b>
							</div>
							<div class="item">
								Available: <b>14GB (36%)</b>
							</div>
						</div>
					</div>
					<div class="flex-1">
						<canvas id="googleChart" width="120" height="120"></canvas>
					</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="ui segment">
				<div class="flex-column">
					<div class="flex-1">
						<h3 class="ui header">
							<img src="/images/onedrive.png">
							<div class="content">OneDrive</div>
						</h3>
						<div class="ui list">
							<div class="item">
								Capacity: <b>42 GB</b>
							</div>
							<div class="item">
								Used: <b>28GB (64%)</b>
							</div>
							<div class="item">
								Available: <b>14GB (36%)</b>
							</div>
						</div>
					</div>
					<div class="flex-1">
						<canvas id="msChart" width="120" height="120"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
	<h2 class="ui header">
	  <i class="fa fa-tasks icon"></i>
	  <div class="content">
	    Details Files Transmission
	    <div class="sub header">List view of files transfer with respect to user action</div>
	  </div>
	</h2>
	<table class="ui celled table">
		<thead>
			<th>Transaction ID</th>
			<th>Origin</th>
			<th>Destination</th>
			<th>Bandwidth/Time Used</th>
			<th>Recipient</th>
			<th>Status</th>
		</thead>
		<tbody>
			<tr>
				<td>a04b78d4581</td>
				<td>Google Drive</td>
				<td>Polytrix</td>
				<td>20MB/s</td>
				<td>N/A</td>
				<td class="positive"><i class="icon checkmark"></i> Completed</td>
			</tr>
			<tr>
				<td>a04b78d4581</td>
				<td>Dropbox</td>
				<td>Brains's Mi2</td>
				<td>8MB/s</td>
				<td>N/A</td>
				<td class="positive"><i class="icon checkmark"></i> Completed</td>
			</tr>
			<tr>
				<td>a04b78d4581</td>
				<td>Dropbox</td>
				<td>202.2.255.107</td>
				<td>167KB/s</td>
				<td>kris@sandb0x.io</td>
				<td class="negative"><i class="icon close"></i> Incomplete</td>
			</tr>
			<tr>
				<td>a04b78d4581</td>
				<td>OneDrive</td>
				<td>Dropbox</td>
				<td>3MB/s</td>
				<td>N/A</td>
				<td class="positive"><i class="icon checkmark"></i> Completed</td>
			</tr>
			<tr>
				<td>a04b78d4581</td>
				<td>Polytrix</td>
				<td>Google Drive</td>
				<td>6MB/s</td>
				<td>N/A</td>
				<td class="positive"><i class="icon checkmark"></i> Completed</td>
			</tr>
			<tr>
				<td>a04b78d4581</td>
				<td>Brians-PC</td>
				<td>Google Drive</td>
				<td>1,014KB/s</td>
				<td>N/A</td>
				<td class="positive"><i class="icon checkmark"></i> Completed</td>
			</tr>
			<tr>
				<td>a04b78d4581</td>
				<td>PC-W24557</td>
				<td>Polytrix</td>
				<td>584KB/s</td>
				<td>N/A</td>
				<td class="positive"><i class="icon checkmark"></i> Completed</td>
			</tr>
		</tbody>
	</table>
</div>

<script>

	var ctx = $("#myLineChart").get(0).getContext("2d");
	var data = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [65, 59, 80, 81, 56, 55, 40]
        },
        {
            label: "My Second dataset",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [28, 48, 40, 19, 86, 27, 90]
        }
    ]
};
	var myLineChart = new Chart(ctx).Line(data);
	var graph = $("#myDoughnutChart").get(0).getContext("2d");
	var googleChart = $("#googleChart").get(0).getContext("2d");
	var dropboxChart = $("#dropboxChart").get(0).getContext("2d");
	var onedriveChart = $("#msChart").get(0).getContext("2d");
	var usage = [
    {
        value: 300,
        color:"#30e8bd",
        highlight: "#66eece",
        label: "Google Drive"
    },
    {
        value: 50,
        color: "#3080e8",
        highlight: "#66a1ee",
        label: "OneDrive"
    },
    {
        value: 100,
        color: "#e8308c",
        highlight: "#ee66aa",
        label: "Dropbox"
    }
]
	var myDoughnutChart = new Chart(graph).Doughnut(usage);
	var googleUsage = new Chart(googleChart).Doughnut(usage);
	var dropboxUsage = new Chart(dropboxChart).Doughnut(usage);
	var onedriveUsage = new Chart(onedriveChart).Doughnut(usage);
</script>