<style>
	@import url(http://fonts.googleapis.com/css?family=Montserrat);
	@import url(http://fonts.googleapis.com/css?family=Raleway:300);
	#title {
		position: absolute;
		right: 10%;
		top:5%;
	}
	#title > h1 {
		font-family: 'Raleway', sans-serif;
		font-size: 92px;
		font-weight: 300;
		padding: 10px 50px;
		text-align: center;
		text-transform: uppercase;
		text-rendering: optimizeLegibility;
	}
	#title > h1.retroshadow {
		color: #2c2c2c;
		letter-spacing: .05em;
		text-shadow: 4px 4px 0px #f7f7f7, 7px 7px 0px rgba(0, 0, 0, 0.2);
	}

	#title > .rounded-rec-btn {
		left: 28%
	}
	#intro,
	#functionality,
	#fedility,
	#clarity{
		background-size: cover;
	}

	#intro{
		background-image: url(https://s3-ap-northeast-1.amazonaws.com/molecular/networked_files.png);
	}
	#functionality{
		background-image: url();
	}
	#fedility{
		background-image: url(https://s3-ap-northeast-1.amazonaws.com/molecular/cloud-sharing.jpg);
	}
	#clarity{
		background:#3DC9B3;
	}
	.rounded-rec-btn {
		position: relative;
		display: inline-block;
		text-align: center;
	}

	.rounded-rec-btn button {
		display: block;
		margin: 0 auto;
		padding: 0;
		width: 250px;
		height: 70px;
		border:2px solid #1ECD97;
		border-radius: 40px;
		background: transparent;
		color: #1ECD97;
		letter-spacing: 1px;
		font-size: 18px;
		font-family: 'Montserrat', sans-serif;
		-webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
		transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
	}

	.rounded-rec-btn button:hover{
		background-color: #1ECD97;
		color: #fff;
	}

	.rounded-rec-btn button:focus {
		outline: none;
	}
	.sign-up-container{
		position: relative;
		margin: 50px auto;
		width: 280px;
		-webkit-transition: width .7s; /* For Safari 3.1 to 6.0 */
   		transition: width .7s;
	}
	.sign-up {
		position: relative;
		padding: 33px 25px 29px;
		background: white;
		border-bottom: 1px solid #c4c4c4;
		border-radius: 5px;
		-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	}
	.sign-up:before, .sign-up:after {
		content: '';
		position: absolute;
		bottom: 1px;
		left: 0;
		right: 0;
		height: 10px;
		background: inherit;
		border-bottom: 1px solid #d2d2d2;
		border-radius: 4px;
	}
	.sign-up:after {
		bottom: 3px;
		border-color: #dcdcdc;
	}

	.sign-up-title {
		margin: -25px -25px 25px;
		padding: 15px 25px;
		line-height: 35px;
		font-size: 26px;
		font-weight: 300;
		color: #aaa;
		text-align: center;
		text-shadow: 0 1px rgba(255, 255, 255, 0.75);
		background: #f7f7f7;
	}
	.sign-up-title:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 8px;
		background: #c4e17f;
		border-radius: 5px 5px 0 0;
		background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
		background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
		background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
		background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	}

	input {
		font-family: inherit;
		color: inherit;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.sign-up-input {
		width: 100%;
		height: 50px;
		margin-bottom: 25px;
		padding: 0 15px 2px;
		font-size: 17px;
		background: white;
		border: 2px solid #ebebeb;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 -2px #ebebeb;
		box-shadow: inset 0 -2px #ebebeb;
	}
	.sign-up-input:focus {
		border-color: #62c2e4;
		outline: none;
		-webkit-box-shadow: inset 0 -2px #62c2e4;
		box-shadow: inset 0 -2px #62c2e4;
	}
	.lt-ie9 .sign-up-input {
		line-height: 48px;
	}

	.sign-up-button {
		position: relative;
		vertical-align: top;
		width: 100%;
		height: 54px;
		padding: 0;
		font-size: 22px;
		color: white;
		text-align: center;
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
		background: #f0776c;
		border: 0;
		border-bottom: 2px solid #d76b60;
		border-radius: 5px;
		cursor: pointer;
		-webkit-box-shadow: inset 0 -2px #d76b60;
		box-shadow: inset 0 -2px #d76b60;
	}
	.sign-up-button:active {
		top: 1px;
		outline: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	:-moz-placeholder {
		color: #ccc;
		font-weight: 300;
	}

	::-moz-placeholder {
		color: #ccc;
		opacity: 1;
		font-weight: 300;
	}

	::-webkit-input-placeholder {
		color: #ccc;
		font-weight: 300;
	}

	:-ms-input-placeholder {
		color: #ccc;
		font-weight: 300;
	}

	::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
	.sign-up label{
		color:#777;
		font-size: 18px;
	}
	.depoly.tab{
		overflow: hidden;
		opacity: 0;
		-webkit-transition: all .7s; /* For Safari 3.1 to 6.0 */
   		transition: all .7s;
	}
	.depoly.tab.select{
		opacity: 1;
	}
	.depoly.tab.row{
		height: 0px;
	}
	.depoly.tab.row.select{
		height: 100px;
	}
	.depoly.tab.col{
		width: 0px;
	}
	.depoly.tab.col.select{
		flex: 1;
	}
	.depoly.tab.ctrl{
		opacity: 0;
		left:50%;
		margin-left: 30px;
		padding:5px 10px;
		border-radius: 5px;
		position: absolute;
		font-size: 18px;
		/*z-index: -1;*/
		background: #fff;
		color: #666;
		/*font-weight: bold;*/
		text-shadow: 1px 0 0 #ccc;
		-ms-transform: rotate(90deg); /* IE 9 */
	    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	    transform: rotate(90deg);
	    transform-origin: 0 0;
	    -webkit-transform-origin: 0 0;
	    -ms-transform-origin: 0 0;
	    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	}
	.depoly.tab.ctrl.select{
		opacity: 1;
		left: 100%;
	}
	.depoly.tab.ctrl:hover{
		cursor: pointer;
	}
	.depoly.tab.ctrl.login{
		top: 100px;
	}
	.depoly.tab.ctrl.register{
		top: 100px;
	}
</style>
<div id="fullpage">
	<div class="section" id="intro">
		<div id="title">
			<h1 class="retroshadow">Polytrix</h1>
			<div class="rounded-rec-btn">
				<button><span>LEARN MORE</span><i class="fa fa-chevron-down" style="margin-left:10px;"></i></button>
			</div>
		</div>
		<div class="sign-up-container" style="width:{{form.width}};">
			<div class="depoly tab login ctrl" ng-click="select('register')">
				Register
			</div>
			<div class="depoly tab register ctrl" ng-click="select('login')">
				Login
			</div>
			<form class="sign-up">
				

				<h1 class="sign-up-title">Start using Polytrix</h1>

				<div class="depoly tab row register">
					<label>
						User ID:
						<input type="text" class="sign-up-input" ng-change="formChange($event,'uid');" ng-model="form.uid" placeholder="e.g. alice1987">
					</label>
				</div>
				
				<div class="depoly tab row register">
					<label>
						User name:
						<input type="text" class="sign-up-input" ng-change="formChange();" ng-model="form.name" placeholder="e.g. Alice">
					</label>
				</div>
				

				<label>
					{{ form.identifier }}:
					<input type="text" class="sign-up-input" ng-change="idChange();formChange();" ng-model="form.email" placeholder="e.g. alice@polytrix.io" autofocus>
				</label>

				<div class="depoly tab row login register" layout="row">
					<label flex>
						Password:
						<input type="password" class="sign-up-input password" ng-change="formChange();" ng-model="form.upw" placeholder="password">
					</label>
					<label class="depoly tab col register" style="white-space: nowrap;">
						Comfirm password:<br>
						<input type="password" class="sign-up-input" ng-change="formChange();" ng-model="form.upwc" placeholder="password">
					</label>
				</div>

				<button class="sign-up-button" ng-click="buttonClick($event)">
					{{ buttonText }}
	    			<div ng-show="loading" class="ui mini active inline loader"></div>
					<i ng-hide="loading" class="fa fa-chevron-circle-right"></i>
				</button>

				<div class="ui hidden floating negative message" id="errmsg">
					<i class="close icon"></i>
					<div class="header">
						<i class="fa fa-exclamation-triangle"></i>
						There was some errors with your submission
					</div>
					<ul class="list">
						<li>{{err_msg}}</li>
					</ul>
				</div>	
			</form>
		</div>
	</div>
	<div class="section" id="functionality">
		<div class="ui page grid">
			<div class="four wide column">
				<i class="huge home icon"></i>
			</div>
			<div class="four wide column">
				<i class="huge home icon"></i>
			</div>
			<div class="four wide column">
				<i class="huge home icon"></i>
			</div>
			<div class="four wide column">
				<i class="huge home icon"></i>
			</div>
			<div class="five wide column">
				<i class="huge home icon"></i>
			</div>
			<div class="five wide column">
				<i class="huge home icon"></i>
			</div>
			<div class="five wide column">
				<i class="huge home icon"></i>
			</div>
		</div>
	</div>
	<div class="section" id="fedility">
		Slide 3
	</div>
	<div class="section" id="clarity">
		Slide 4
	</div>
</div>

<script>
	$(document).ready(function() {
    $('#fullpage').fullpage({
    	anchor: ['intro', 'functionality', 'fedility', 'clarity'],
    	navigation:true,
    	navigationPosition: 'left',
    });
});
</script>