<div class="frame center">
	<div id="search">
	    <div class="ui search wrapper">
	      <div id="homeSearchBar"class="home search-bar ui large icon input">
	        <input class="prompt" type="text" placeholder="Search for your files here...">
	        <i class="search icon"></i>
	    </div>
	    <div class="results"></div>
	</div>
	<div class="ui divider">
	</div>
	<h2>
		<div class="ui header">
			<i class="feed icon"></i>
			<div class="content">
				Workflow Feed
				<div class="sub header">
					Manage your files with TODO list like feature and prioritized workflow for your data
				</div>
			</div>
		</div>
	</h2>
	<div class="ui segment">
		<div class="ui top right attached label"></div>
		<a class="ui tag label"></a>
	</div>
</div>
<style type="text/css">
#homeSearchBar,
.search-bar{
	width: 450px;
	margin-left:auto;
	margin-right: auto;
}
</style>