<h4 class="ui block top attached header"><i class="user icon"></i>User profile</h4>
<div class="ui bottom attached primary segment">
	<div class="ui form">
		<div class="two fields">
			<div class="field">
				<label>User ID</label>
				<div class="ui icon input">
					<input type="text" readonly="readonly" placeholder="Username">
					<i class="user icon"></i>
				</div>
			</div>
			<div class="required field">
				<label>Current Password</label>
				<div class="ui icon input">
					<input type="password" value="********">
					<i class="lock icon"></i>
				</div>
			</div>
		</div>
		<div class="two fields">
			<div class="field">
				<label>New Password</label>
				<div class="ui icon input">
					<input type="password">
					<i class="lock icon"></i>
				</div>
			</div>
			<div class="field">
				<label>Confirm Password</label>
				<div class="ui icon input loading">
					<input type="password">
					<i class="lock icon"></i>
				</div>
			</div>
		</div>
		<div class="one fields">
			<div class="field">
				<label>Email</label>
				<div class="ui icon input">
					<input type="email">
					<i class="mail outline icon"></i>
				</div>
			</div>
		</div>
		<h5 class="ui header"><i class="unhide icon"></i>Privacy</h5>
		<div class="divider"></div>

	</div>
</div>